.parent
{
    height: 500px;
    width: 90%;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border: 1px solid white;
    display:flex;
}

.child1
{
    height: 470px;
    width: 25%;
    background-color: #4a788d;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    border-radius: 20px 0px 0px 20px;
}

.child2
{
    height: 470px;
    width: 75%;
    padding-left: 30px;
    padding-top: 10px;
}
.link{
    margin-left: 370px;
    margin-top: 15px;
    text-decoration: underline;
    color: #000000;
    cursor: pointer;
}
.child2 h1{
   font-size: bold;
   padding-left: 15px;
}
.me{
    margin-top: -20px;
    padding-left: 20px;
 }

.p1
{
    height: 200px;
    width: 80%;
    margin-top: 30px;
    margin-left: 0%;
    margin-right: 5%;
    display:flex;
}

.c1
{
    height: 200px;
    width: 50%;
    padding-left: 20px;
}

.c2
{
    height: 200px;
    width: 50%;
}

.mybutton{
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 13px;
    background-color: #4a788d;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #4a788d;
    border-radius: 5px;
}

.fa-close{
   margin-left: 240px;
   font-size: 40px  !important;
   color: #f2f2f4  !important;
   cursor: pointer;
}

.inputfield{
    padding: 10px;
    background-color: #f2f2f4;
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
}

.child1 p i{
    margin-right: 10px;
}
.child1 h4 i{
    margin-right: 10px;
}
.child2 p i{
    margin-right: 10px;
}